video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
    z-index: -100;
    background-size: cover;
     background-repeat: no-repeat;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.powered_by{
  position: absolute;
  bottom:0;
  left:0;
  padding-left: 20px;
}


.menu_button{
  padding-left: 30px;
  padding-top: 30px;
}

.weight{
  font-weight: 500;
  font-family: 'Alfa Slab One', cursive;
  color: rgba(255,255,255,1);
}
