html{
  font-family: 'Jockey One', sans-serif;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.powered_by{
  position: absolute;
  bottom:0;
  left:0;
  padding-left: 20px;
}
.mob-text{
  color: #f36e21;
  font-family: 'Nosifer', cursive;
}

.menu_button{
  padding-left: 20px;
  padding-top: 10px;
}

.weight{
  font-weight: 500;
  font-family: 'Nosifer', cursive;
}

.side-nav li {
  padding-top: 20px;
  padding-left: 20px;
}
.side-nav li a{
  font-size: 20px;
}

.side-nav li a:hover{
  background-color: rgb(3, 155, 229);
  color: rgba(255,255,255,1);
}
