
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

.powered_by{
  position: absolute;
  bottom:0;
  left:0;
  padding-left: 20px;
}


.menu_button{
  padding-left: 30px;
  padding-top: 30px;
}

.weight{
  font-weight: 500;
  font-family: 'Alfa Slab One', cursive;
  color: rgba(255,255,255,1);
}
